@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

div.textFile {
  background-color: rgba(220, 220, 220, 0.363);
}
h5.mine {
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  margin-bottom: 10px;
  font-size: 35px;
}
p {
  font-weight: 500;
  font-size: 12px;
  font: italic;
  margin-top: 10px;
}
h6 {
  font-size: 14px;
  font-weight: lighter;
}
div.firstDiv {
  width: 40vw;
}
@media screen and (max-width: 744px) {
  div.firstDiv {
    width: 100%;
  }
  p {
    font-size: 12px;
  }
  div.textFile {
    display: flex;
    flex-direction: column;
  }
}
