div.MainCard {
  box-sizing: border-box;
  height: 14rem;
  width: 20rem;
  background-color: #38e54d;
  margin-top: 10px;
  margin-left: 60px;
  color: white;
  font-size: 18px;
  text-align: start;
  padding: 5px 20px;
}
div.find {
  font-size: 23px;
  cursor: pointer;
  transition: 0.6s;
  padding-left: 10px;
}
div.find:hover {
  transform: scale(1.2);
}
