h2 {
  font-weight: 900;
  font-family: sans-serif;
  text-align: start;
  font-size: 46px;
}
h5 {
  font-size: 18px;
  text-align: start;
}
img {
  height: 90vh;
}
button.caro {
  margin-top: 250px;
}
@media screen and (max-width: 997px) {
  h2 {
    font-weight: 600;
    font-size: 25px;
  }
  img {
    height: 50vh;
  }
}
@media screen and (max-width: 1024px) {
  img {
    height: 65vh;
  }
  button.caro {
    margin-top: 161px;
  }
}
@media screen and (max-width: 375px) {
  img {
    height: fit-content;
  }

  button.caro {
    margin-top: 86px;
  }
  div.carousel-caption {
    height: 192px;
  }
  div.carousel-caption h2 {
    font-size: 16px;
  }
  div.carousel-caption h5 {
    font-size: 10px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 2560px) {
  img {
    height: 60vh;
  }
  button.caro {
    margin-top: 635px;
  }
}
@media screen and (min-width: 1440px) {
  img {
    height: 85vh;
  }
}
