.footer {
  background-color: rgba(0, 0, 0, 0.838);
  color: white;
}
.container {
  display: flex;
}
a {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  div.respon {
    text-align: center;
  }
}
form p {
  text-align: center;
}
form h5 {
  text-align: center;
}
