div.Cardhover {
  background-color: rgba(220, 220, 220, 0.363);
}
.bgren {
  transition: 0.5s;
  cursor: grab;
}
.bgren:hover {
  background-color: #38e54d;
  color: white;
}
.card .card-body img {
  height: fit-content;
}
@media screen and (min-width: 768px) {
  h3.dumtext {
    font-size: 20px;
  }
}
